.intro {
    margin: 25px;
    padding: 50px;
    display: flex;
    justify-content: center;
    background-color: #333333;
    border-radius: 10px;
    flex-direction: column;
}

.titleMega {
    width: 1000px;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.Mega{
    font-family: "Roboto Slab", sans-serif;
    font-weight: 800;
    font-size: 45px;
}

.container {
    display: flex;
    justify-content: center;
    background-color: #333333;
    border-radius: 10px;
    align-items: center;
    flex-direction: column;
}

.content{
    margin: 20px;
    display: flex;
    justify-content: center;
    background-color: #333333;
    align-items: center;
    border-bottom: 1px solid #CBAC60;
}

.texts{
    width: 430px;
    padding-right: 50px;
    padding-left: 50px;
}

.subtitle{
    margin-left: 3%;
    display: flex;
    height: 100px;
    cursor: pointer;
    justify-content: center;
}

.title{
    text-decoration: none;
    color: #FFFFFFDE;
}

.project{
    font-family: 'Source Code Pro';
    text-transform: uppercase;
    padding: 15px;
}

.description{
    margin-left: 10px;
    font-family: 'Poppins';
    display: flex;
}

.used{
    font-family: 'Poppins';
    display: flex;
    justify-content: flex-start;
}

.link{
    margin-left: 5px;
    color: #CBAC60;
}

.link:hover{
    filter:opacity(.5);
    color:#D0ADF0;
}

.pic{
    margin: 80px;
    height: 200px;
}

.technologies{
    margin: 2px;
    height: 40px;
    margin-left: 20px;
}

.imageContainer{
    display: flex;
    justify-content: center;
}