.intro {
    margin: 25px;
    height: 200px;
    margin-top: 150px;
    padding: 50px;
    display: flex;
    justify-content: center;
    background-color: #333333;
    border-radius: 10px;
  }

  .content {
    width: 1000px;
    height: 200px;
    padding: 10px;
    display: flex;
    justify-content: center;
  }

  .atom {
    width: 60px;
    height: 60px;
  }

  .title {
    display: flex;
  }
  
  .letter {
    font-family: 'Source Code Pro';
    text-transform: uppercase;
    font-size: 2.5em;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-property: transform, color;
    transition-duration: 350ms;
    transition-timing-function: ease;
  }
  
  .letter:hover {
    transform: translateY(-8px);
    color: #CEA03E;
  }
  
  .animate {
    animation: domino 0.5s ease forwards;
  }
  
  @keyframes domino {
    0% {
      transform: translateY(0);
      color: initial;
    }
    50% {
      transform: translateY(-8px);
      color: #CEA03E;
    }
    100% {
      transform: translateY(0);
      color: initial;
    }
  }
  