  .cursor-dot,
  .cursor-dot-outline {
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    opacity: 1;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  }

  .cursor-dot {
    position: fixed;
    z-index: 10000;
    width: 8px;
    height: 8px;
    background-color: #f3f2f9;
    animation: .4s linear;
  }

  .cursor-dot-outline {
    position: fixed;
    z-index: 9999;
    width: 25px;
    height: 25px;
    background-color: rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: 1px;
    border-color: #f3f2f9;
    mix-blend-mode: difference;
  }
